.encabezado{
    background-color: #82A284;
    border-radius: 0%;
    color: #FEFBE7;
    text-align: center;
    margin-bottom: 0%;
}

.barra{
    background-color: #6dba72;
}

.redes{
    text-align: center;
}

.carrito{
    width: 70%;
    margin: auto;
}

.tamaño{
    height: 450px;
    width: 200px;
}

.azul{
    background-color: #3064d4;
}

.rojo{
    background-color: #d43030;
}

.verde{
    background-color: #35d430;
}

.rosa{
    background-color: #e140c1
}

.color{
    color: black;
}